<div class="about">
  <h2>Assignment </h2>
    <p>Build a new web application from scratch and make sure it satisfies the following criteria:</p>
    <ul>
      <li>This should be a rails application, not a plain HTML page.</li>
      <li>The web application has a page with static content on it.</li>
      <li>The web application is hosted on heroku.</li>
      <li>The code for the application is hosted up on GitHub</li>
      <li>There is a headline on the page of the application that is a non-black color.</li>
    </ul>

  <h2>Comments</h2>
    <p><a href="http://www.thefirehoseproject.com/" target="_blank">The Firehose Project<span class="sr-only">Opens in new window</span></a> is an online coding bootcamp. This website was coded in response to the first assigment in their 22 week course. After only 1 week in the program, I am happy with what I have been learning. Using a database was definitely overkill for this website, but it helped to review some of the concepts that I have been learning. The source for this site can be seen <a href="https://github.com/bountonw/thaicolor" target="_blank">here<span class="sr-only">Opens in new window</span></a>.</p> 
</div>
