<div class="about">
  <h2>Assignment </h2>
    <p>Build a new web application from scratch and make sure it satisfies the following criteria:</p>
    <ul>
      <li>This should be a rails application, not a plain HTML page.</li>
      <li>The web application has a page with static content on it.</li>
      <li>The web application is hosted on heroku.</li>
      <li>The code for the application is hosted up on GitHub</li>
      <li>There is a headline on the page of the application that is a non-black color.</li>
    </ul>

  <h2>Comments</h2>
    <p>I am grateful to <a href="http://www.thefirehoseproject.com/" target="_blank">The Firehose Project<span class="sr-only">Opens in new window</span></a> for this assignment at the end of my first week of coding with them. With 21 weeks remaining in the 22 week online bootcamp, I look forward to all that I will learn.</p>
    <p>Using a database was definitely overkill for this website, but it helped to review some of the concepts that I have been learning. The source for this site can be seen <a href="https://github.com/bountonw/thaicolor" target="_blank">here<span class="sr-only">Opens in new window</span></a>.</p> 
</div>
