.colorbox {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

/*------------------------------*/
/* For large and medium devices */
/*------------------------------*/
@media (min-width: 600px) {
  .colorbox {
    height: 50%;
    flex-basis: 20%;
  }

  .colorbox:nth-child(1) {
    background-color: black;
    color: white;
  }

  .colorbox:nth-child(2) {
    background-color: white;
    color: black;
}

  .colorbox:nth-child(3) {
    background-color: green;
    color: orange;
  }

  .colorbox:nth-child(4) {
    background-color: yellow;
    color: blue;
  }

  .colorbox:nth-child(5) {
    background-color: red;
    color: blue;
  }

  .colorbox:nth-child(6) {
    background-color: blue;
    color: yellow;
  }

  .colorbox:nth-child(7) {
    background-color: skyblue;
    color: maroon;
  }

  .colorbox:nth-child(8) {
    background-color: pink;
    color: brown;
  }

  .colorbox:nth-child(9) {
    background-color: brown;
    color: violet;
  }

  .colorbox:nth-child(10) {
    background-color: grey;
    color: orange;
  }
}

/*-------------------*/
/* For small devices */
/*-------------------*/
@media (max-width: 674px) {
  .colorbox {
    height: 20%;
    flex-basis: 50%;
  }

  .colorbox:nth-child(1) {
    background-color: black;
    color: white;
  }

  .colorbox:nth-child(2) {
    background-color: white;
    color: black;
  }

  .colorbox:nth-child(3) {
    background-color: green;
    color: orange;
  }

  .colorbox:nth-child(4) {
    background-color: yellow;
    color: blue;
  }

  .colorbox:nth-child(5) {
    background-color: red;
    color: blue;
  
  }

  .colorbox:nth-child(6) {
    background-color: blue;
    color: yellow;
  }

  .colorbox:nth-child(7) {
    background-color: skyblue;
    color: maroon;
  }

  .colorbox:nth-child(8) {
    background-color: pink;
    color: brown;
  }

  .colorbox:nth-child(9) {
    background-color: brown;
    color: violet;
  }

  .colorbox:nth-child(10) {
    background-color: grey;
    color: orange;
  }
}