// Place all the styles related to the Colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  overflow: auto;
  font-size: 100%;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: CSPraJad;
  src: font_url('CSPraJad.woff');
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosansthaiui.css);

.main {
  margin-top: 90px; /* Corresponding to header height */
  margin-bottom: 60px; /* Corresponding to footer height */
  display: flex;
  height: 100%;
}

nav {
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 15px;
  font-size: 1.2rem;
}

main a {
  text-decoration: underline;
  color: black;
}

main a:hover, main a:visited, main a:active {
  text-decoration: underline;
  color: black;
  font-weight: 600;
}

.index {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  font-family: CSPraJad, 'Noto Sans Thai UI', sans-serif;
  font-size: 2rem;

}

.about {
  max-width: 600px;
  margin: 60px auto 0 auto;
  padding-right: 1.5rem;
}

/*---------------*/
/* Accessibility */
/*---------------*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}