// Place all the styles related to the Colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  overflow: auto;
  font-size: 100%;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: CSPraJad;
  src: font_url('CSPraJad.woff');
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosansthaiui.css);

.main {
  margin-top: 90px; /* Corresponding to header height */
  margin-bottom: 60px; /* Corresponding to footer height */
  display: flex;
  height: 100%;
  flex-shrink: 1;
}

nav {
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 15px;
  font-size: 1.2rem;
}

main a {
  text-decoration: underline;
  color: black;
}

main a:hover, main a:visited, main a:active {
  text-decoration: underline;
  color: black;
  font-weight: 600;
}

.index {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  font-family: CSPraJad, 'Noto Sans Thai UI', sans-serif;
  font-size: 2rem;

}

.colorbox {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.about {
  max-width: 600px;
  margin: 60px auto 0 auto;
  padding-right: 1.5rem;
  height: 100%;
}

/*---------------*/
/* Sticky Headers and Footers */
/*---------------*/
header, footer {
  position: absolute;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header {
  background-color: #708090;
  top: 0; 
  justify-content: center;
  height: 90px;
}

.logo {
  text-decoration: none;
  font-size: 1.6rem;
  color: #FFD700;
}

.footer {
  bottom: 0;
  background-color: #FFD700;  /* gold */
  height: 60px;
}

/*------------------------*/
/* Formatting header and footer text */
/*------------------------*/
header, footer {
  font-family: 'Roboto', sans-serif;
}

.ft-text {
  color:  #708090; /* slategrey */
  font-size: .9rem;
}

footer a {
  text-decoration: underline;
  color:  #708090; /* slategrey */
}

footer a:hover, footer a:visited, footer a:active {
  font-weight: 600;
  color: #5c6c7c;
}

/*---------------*/
/* Accessibility */
/*---------------*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}