/*---------------*/
/* Sticky Footer */
/*---------------*/
.wrapper {
  margin-bottom: -60px; 
  min-height: 100%;
}

footer {
  width: 100%;
  margin: 0;
}

.footer,
.push {
  height: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #FFD700;  /* gold */
  display: flex;              
  align-items: center;  
}

/*------------------------------------------*/
/* Positioning footer text on small divices */
/*------------------------------------------*/
@media(max-width: 674px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}

/*----------------------------------------------------*/
/* Positioning footer text on Medium to large divices */
/*----------------------------------------------------*/
@media(min-width: 675px) {
  .footer {
    justify-content: flex-end;
  }
 footer span:last-of-type {
  margin-right: 2%;
  }
}

/*------------------------*/
/* Formatting footer text */
/*------------------------*/
footer span {
  color:  #708090; /* slategrey */
}

footer a {
  text-decoration: underline;
  color:  #708090; /* slategrey */
}

footer a:hover, footer a:visited, footer a:active {
  font-weight: 600;
  color: #5c6c7c;
}