/*---------------*/
/* Sticky Headers and Footers */
/*---------------*/

header, footer {
  position: absolute;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

.header {
  background-color: #708090;
  top: 0; 
  justify-content: center;
  height: 90px;
}


.logo {
  text-decoration: none;
  font-size: 1.6rem;
  color: #FFD700;
}



.footer {
  bottom: 0;
  background-color: #FFD700;  /* gold */
  height: 60px;
}

/*------------------------------------------*/
/* Positioning footer text on small divices */
/*------------------------------------------*/
@media(max-width: 674px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}

/*----------------------------------------------------*/
/* Positioning footer text on Medium to large divices */
/*----------------------------------------------------*/
@media(min-width: 675px) {
  .footer {
    justify-content: flex-end;
  }
  .ft-text:last-of-type {
    margin-right: 2%;
  }
}

/*------------------------*/
/* Formatting header and footer text */
/*------------------------*/
header, footer {
  font-family: 'Roboto', sans-serif;
}

.ft-text {
  color:  #708090; /* slategrey */
  font-size: .9rem;
}

footer a {
  text-decoration: underline;
  color:  #708090; /* slategrey */
}

footer a:hover, footer a:visited, footer a:active {
  font-weight: 600;
  color: #5c6c7c;
}