<!DOCTYPE html>
<html>
  <head>
    <title>Thaicolor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="wrapper">

      <%= yield %>

    </div>

    <div class="push"></div>
    <footer class="footer">
      <span>Coded March 2017 by Brian Wilson&nbsp;</span> 
      <span>while attending <a href="http://www.thefirehoseproject.com/" target="_blank">The Firehose Project<span class="sr-only">Opens in new window</span></a></span>
    </footer>
  </body>
</html>
